:root {
    --color-primary-background: #093ABF;
    --color-primary-footer: #7EA0FC;
    --color-primary-text: #DAE3FC;
    --color-other: #FFAD00;
    --color-other2: #eca507;
}

#backgroundsites{
    background-color: var(--color-primary-background);
    display: grid;
}
a{
    color: #8b13bb;
}
a:active { /*определяет стиль для активной ссылки*/
    background-color: #dd3e0e;
}
a:hover{  /* псевдоклассы*/
    color: #fdff3d; /* Цвет ссылки */
} /*Стилизует ссылку (элемент <a>) при наведении указателя мыши.*/

a:visited { /*Стилизует ссылку по которой вы уже переходили.*/
    color: #eca409;
}

a{
    text-decoration: none;
}
.PositionForNavigation{
    position: fixed;
    float: right;
    right: 40px;
    top: 20px;
    z-index: 3;
}